{% extends 'basic.html' %}
{% load static %}
{%block title%}Forget Password{%endblock%}
{% block tag %}
<link href="{%static 'css/form.css'%}" rel="stylesheet">
{% endblock %}
{% block css %}
<style>

</style>


{% endblock %}

{%block body%}

<section class="BackLinks">
    <div class="BackLink">

        <ul class="breadcrumb">
            <li class="breadcrumb__item Font-a"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb__item"><i class="fa-solid fa-chevron-right"></i></li>
            <li class="breadcrumb__item Font-a">Sign In</li>
        </ul>

    </div>
</section>
<section class="Form-a">

    <div class="Form-ab">
        <div class="formLogo">
            <h1 class="Font-a Color-a Font-b">HeartBeat</h1>
        </div>
        <div class="FormTitle Color-a">
            <h3>Successful</h3>
            <p>Password reset Successfully. Your Password has been set. You may
                go ahead and login.</p>
        </div>
        <div class="OtherLink">
            <span class="sign__text">Back To Account Login <a href="{% url 'Login' %}">Sign up!</a></span>
        </div>
    </div>
</section>


{% endblock %}