{% extends 'basic.html' %}
{% load static %}
{%block title%}Forget Password{%endblock%}
{% block tag %}
<link href="{%static 'Css/form.css'%}" rel="stylesheet">
{% endblock %}
{% block css %}
<style>

</style>


{% endblock %}

{%block body%}

<section class="BackLinks">
    <div class="BackLink">

        <ul class="breadcrumb">
            <li class="breadcrumb__item Font-a"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb__item"><i class="fa-solid fa-chevron-right"></i></li>
            <li class="breadcrumb__item Font-a">Sign In</li>
        </ul>

    </div>
</section>
<section class="Form-a">

    <div class="Form-ab">
        <div class="formLogo">
            <h1 class="Font-a Color-a Font-b">HeartBeat</h1>
        </div>
        {% if validlink %}
        <div class="FormTitle Color-a ">
            <h3>New Password</h3>
            <p>You can reset your password here.</p>
        </div>
        <form action="" class="Form-form">{% csrf_token %}
            <input type="password" class="UserId" placeholder="New Password" Name="new_password1" required>
            <input type="password" class="UserId" placeholder="Confirm Password" Name="new_password2" required>
            <button class="button-a">Submit</button>
        </form>
        <div class="OtherLink">
            <span class="sign__text">Back To Account Login <a href="{% url 'Login'%}">Sign In!</a></span>
        </div>
        {% else %}
        <div class="FormTitle Color-a ">
            <h3>Invalid link</h3>
            <p>The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset Link.</p>
        </div>
        {% endif %}
    </div>
</section>


{% endblock %}